.nav-tabs {
	font-size: 20px;
}

.no-selection {
    -webkit-user-select: none; /* webkit (safari, chrome) browsers */
    -moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit (konqueror) browsers */
    -ms-user-select: none; /* IE10+ */
}

#content {
	padding-top: 15px;
}

.points {
	font-size: 20px;
}

/*@media (max-width: 1024px) {
  body {
    font-size: 30px;
  }*/
}
